<div>
    <h2 id="page-heading">
        <span jhiTranslate="signatureApplicationApp.status.home.title">Statuses</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-status" [routerLink]="['/status/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="signatureApplicationApp.status.home.createLabel">
            Create a new Status
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="statuses?.length === 0">
        <span jhiTranslate="signatureApplicationApp.status.home.notFound">No statuses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="statuses && statuses.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="signatureApplicationApp.status.status">Status</span></th>
                    <th scope="col" ><span jhiTranslate="signatureApplicationApp.status.exception">Exception</span></th>
                    <th scope="col" ><span jhiTranslate="signatureApplicationApp.status.month">Month</span></th>
                    <th scope="col" ><span jhiTranslate="signatureApplicationApp.status.year">Year</span></th>
                    <th scope="col" ><span jhiTranslate="signatureApplicationApp.status.totalToCreate">Total To Create</span></th>
                    <th scope="col" ><span jhiTranslate="signatureApplicationApp.status.totalCreated">Total Created</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let status of statuses ;trackBy: trackId">
                    <td><a [routerLink]="['/status', status.id, 'view']">{{ status.id }}</a></td>
                    <td jhiTranslate="{{ 'signatureApplicationApp.StatusEnum.' + status.status }}">{{ status.status }}</td>
                    <td>
                        <a *ngIf="status.exception" (click)="openFile(status.exceptionContentType, status.exception)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="status.exception">{{ status.exceptionContentType }}, {{ byteSize(status.exception) }}</span>
                    </td>
                    <td>{{ status.month }}</td>
                    <td>{{ status.year }}</td>
                    <td>{{ status.totalToCreate }}</td>
                    <td>{{ status.totalCreated }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/status', status.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/status', status.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(status)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
