<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="status">
            <h2><span jhiTranslate="signatureApplicationApp.status.detail.title">Status</span> {{ status.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="signatureApplicationApp.status.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'signatureApplicationApp.StatusEnum.' + status.status }}">{{ status.status }}</span>
                </dd>
                <dt><span jhiTranslate="signatureApplicationApp.status.exception">Exception</span></dt>
                <dd>
                    <div *ngIf="status.exception">
                        <a (click)="openFile(status.exceptionContentType, status.exception)" jhiTranslate="entity.action.open">open</a>
                        {{ status.exceptionContentType }}, {{ byteSize(status.exception) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="signatureApplicationApp.status.month">Month</span></dt>
                <dd>
                    <span>{{ status.month }}</span>
                </dd>
                <dt><span jhiTranslate="signatureApplicationApp.status.year">Year</span></dt>
                <dd>
                    <span>{{ status.year }}</span>
                </dd>
                <dt><span jhiTranslate="signatureApplicationApp.status.totalToCreate">Total To Create</span></dt>
                <dd>
                    <span>{{ status.totalToCreate }}</span>
                </dd>
                <dt><span jhiTranslate="signatureApplicationApp.status.totalCreated">Total Created</span></dt>
                <dd>
                    <span>{{ status.totalCreated }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/status', status.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
